body {
  font-family: 'Roboto', sans-serif; }

/* Helper Classes */
.hidden {
  display: none; }

.no-margin {
  margin: 0; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-pad {
  padding: 0 !important; }

.no-pad-top {
  padding-top: 0 !important; }

.no-pad-bottom {
  padding-bottom: 0 !important; }

.list-unstyled {
  margin-left: 0;
  margin-bottom: 0; }
  .list-unstyled li {
    list-style: none; }

.overflow-hidden {
  overflow: hidden;
  min-height: 100%;
  height: auto; }

.row {
  max-width: 1200px;
  max-width: 75rem; }
  .row.full-width {
    max-width: 100%; }
    .row.full-width.diff .row {
      margin: 0 auto;
      max-width: 1200px;
      max-width: 75rem; }
      .row.full-width.diff .row.override {
        max-width: 100%; }

.vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.top-nav {
  position: absolute;
  width: 100%;
  background: #2c2d30;
  padding: 13px 0; }

.hero {
  height: 100vh; }
  .hero h1 {
    font-family: "purista-web", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 90px; }
  .hero .LineAnimationButton {
    margin-top: 32px; }

.LineAnimationButton {
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "purista-web", sans-serif;
  font-weight: 500;
  display: inline-block;
  transition: 0.3s;
  padding: 18px 45px;
  color: #2B2B2B;
  background-color: transparent;
  text-decoration: none; }

.LineAnimationButton:hover,
.LineAnimationButton:focus {
  color: #2B2B2B; }

.LineAnimationButton--full:after {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 36' class='fill--white' fill='white'><path d='M72,50a2.33,2.33,0,0,0-.56-1.38l-16-17a2,2,0,0,0-2.83-.08,2.06,2.06,0,0,0-.08,2.83L65.37,48H30a2,2,0,0,0,0,4H65.37L52.53,65.62a2.09,2.09,0,0,0,.08,2.83,2,2,0,0,0,2.83-.08l16-17A1.78,1.78,0,0,0,72,50Z' transform='translate(-28 -31)'/></svg>");
  height: 25px;
  width: 20px;
  fill: #ffffff;
  speak: none;
  font-style: normal;
  font-weight: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.LineAnimationButton--full:after {
  position: absolute;
  top: 35%;
  left: 0.5px;
  line-height: 0; }

.LineAnimationButton--partial:after {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.LineAnimation-border {
  content: '';
  background-color: #2B2B2B;
  position: absolute; }

.LineAnimation-border_partial--top {
  top: 0;
  right: 0;
  left: 0;
  height: 2px; }

.LineAnimation-border--top {
  top: 0;
  right: 100%;
  left: 0;
  height: 2px;
  transition: right 0.2s 0.6s;
  transition-timing-function: ease-in; }

.LineAnimation-border--right {
  right: 0;
  bottom: 100%;
  top: 0;
  width: 2px;
  transition: bottom 0.2s 0.4s;
  transition-timing-function: ease-in;
  height: 75%; }

.LineAnimation-border--bottom {
  bottom: 0;
  right: 0;
  left: 100%;
  height: 2px;
  transition: left 0.2s 0.2s;
  transition-timing-function: ease-in; }

.LineAnimation-border--bottom_left {
  bottom: 0;
  height: 0;
  width: 2px;
  left: 0;
  transition: height 0.2s 0s;
  transition-timing-function: ease-in; }

.LineAnimation-border--top_left {
  bottom: 50%;
  left: 0;
  width: 2px;
  height: 0;
  transition: height 0.2s 0.8s;
  transition-timing-function: ease-in; }

/* partial button styles */
.LineAnimation-border_partial--top {
  top: 0;
  right: 0;
  left: 0;
  height: 2px; }

.LineAnimation-border_partial--right {
  right: 0;
  bottom: 100%;
  top: 0;
  width: 2px;
  transition: bottom 0.2s 0.2s;
  transition-timing-function: ease-in; }

.LineAnimation-border_partial--bottom {
  bottom: 0;
  right: 0;
  left: 100%;
  height: 2px;
  transition: left 0.2s 0s;
  transition-timing-function: ease-in; }

.LineAnimation-border_partial--top_left {
  top: 0;
  left: 0;
  width: 2px;
  height: 75%; }

.LineAnimation-border_partial--top_left:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-right: 0.13em solid #2b2b2b;
  border-top: 0.13em solid #2b2b2b;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  left: 50%;
  margin-top: -4px;
  margin-left: -5.5px;
  top: 83%; }

@media (min-width: 768px) {
  .LineAnimationButton:hover .LineAnimation-border--top {
    right: 0;
    transition: right 0.2s 0.2s;
    transition-timing-function: ease-in; }
  .LineAnimationButton:hover .LineAnimation-border--right {
    bottom: 0;
    transition: bottom 0.2s 0.4s;
    transition-timing-function: ease-in; }
  .LineAnimationButton:hover .LineAnimation-border--bottom {
    left: 0;
    transition: left 0.2s 0.6s; }
  .LineAnimationButton:hover .LineAnimation-border--bottom_left {
    height: 40%;
    transition: height 0.2s 0.8s;
    transition-timing-function: ease-in; }
  .LineAnimationButton:hover .LineAnimation-border--top_left {
    height: 50%;
    transition: height 0.2s 0s;
    transition-timing-function: ease-in; } }

@media (min-width: 768px) {
  .LineAnimationButton--partial:hover .LineAnimation-border_partial--right {
    bottom: 0;
    transition: bottom 0.2s 0s;
    transition-timing-function: ease-in; }
  .LineAnimationButton--partial:hover .LineAnimation-border_partial--bottom {
    left: 0%;
    transition: left 0.2s 0.2s; } }

/* setting the colors for all states */
.LineAnimationButton--White {
  color: #FFFFFF; }

.LineAnimationButton--White:hover,
.LineAnimationButton--White:focus {
  color: #FFFFFF; }

.LineAnimationButton--White:active {
  color: #FFFFFF; }

.LineAnimationButton--White .LineAnimation-border {
  background-color: #FFFFFF; }

.LineAnimationButton--White:after {
  color: #FFFFFF; }

.LineAnimationButton--White .LineAnimation-border_partial--top_left:after {
  border-color: #FFFFFF; }

.class-list .class {
  position: relative;
  height: 500px;
  background: #2c2d30;
  overflow: hidden; }
  .class-list .class .content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 40px; }
    .class-list .class .content span {
      color: #fff;
      font-family: "futura-pt", sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 72px;
      letter-spacing: 2px;
      position: absolute;
      top: -4%;
      left: -4%;
      opacity: 0.2; }
    .class-list .class .content h3 {
      font-family: "futura-pt", sans-serif;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 1px;
      color: #f3f3f3;
      z-index: 10;
      margin: 0; }
    .class-list .class .content svg {
      display: block;
      width: 40px;
      fill: #fff; }
    .class-list .class .content p {
      color: #fff;
      margin-top: 25px;
      border-top: 2px solid #fff;
      padding-top: 20px; }
    .class-list .class .content .LineAnimationButton {
      margin-top: 10px; }
      .class-list .class .content .LineAnimationButton .LineAnimation-border--right {
        height: inherit; }
  .class-list .class .video {
    height: 100%; }
    .class-list .class .video video {
      height: 106%;
      margin-left: -50%; }
    .class-list .class .video:after, .class-list .class .video:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(44, 45, 48, .5);
      z-index: 5; }

video::-webkit-media-controls {
  display: none !important; }

.heading {
  position: relative;
  background-image: url("/img/heading-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 200px; }
  .heading h3 {
    position: absolute;
    width: 100%;
    color: #ffffff;
    font-family: "purista-web", sans-serif;
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5%; }

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(44, 45, 48, .9);
  z-index: 10; }
  .overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100; }
  .overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative; }
    .overlay ul li {
      display: block;
      height: 20%;
      height: 20%;
      min-height: 54px; }
      .overlay ul li a {
        font-weight: 300;
        display: block;
        color: #fff;
        transition: color 0.2s; }
        .overlay ul li a:hover, .overlay ul li a:focus {
          color: #e3fcb1; }

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s; }
  .overlay-hugeinc.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s; }
    .overlay-hugeinc.open nav ul {
      opacity: 1;
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg); }
  .overlay-hugeinc.close nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg); }
  .overlay-hugeinc nav {
    -webkit-perspective: 1200px;
    perspective: 1200px; }
    .overlay-hugeinc nav ul {
      opacity: 0.4;
      -webkit-transform: translateY(-25%) rotateX(35deg);
      transform: translateY(-25%) rotateX(35deg);
      transition: opacity 0.5s, -webkit-transform 0.5s;
      transition: transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }
  .overlay ul li {
    min-height: 34px; } }
