h1, h2, h3, h4, h5 {
  font-family: 'futura-pt', sans-serif; }

body {
  font-family: 'Roboto', sans-serif; }

/* Helper Classes */
.clearfix {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.hidden {
  display: none; }

.no-margin {
  margin: 0; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-pad {
  padding: 0 !important; }

.no-pad-top {
  padding-top: 0 !important; }

.no-pad-bottom {
  padding-bottom: 0 !important; }

.list-unstyled {
  margin-left: 0;
  margin-bottom: 0; }
  .list-unstyled li {
    list-style: none; }

.overflow-hidden {
  overflow: hidden;
  min-height: 100%;
  height: auto; }

.opacity-10 {
  opacity: 0.1; }

.opacity-20 {
  opacity: 0.2; }

.opacity-30 {
  opacity: 0.3; }

.opacity-40 {
  opacity: 0.4; }

.opacity-50 {
  opacity: 0.5; }

.row {
  max-width: 1200px;
  max-width: 75rem; }
  .row.full-width {
    max-width: 100%; }
    .row.full-width.diff .row {
      margin: 0 auto;
      max-width: 1200px;
      max-width: 75rem; }
      .row.full-width.diff .row.override {
        max-width: 100%; }

.vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.top-nav {
  position: absolute;
  width: 100%;
  background: #131418;
  padding: 13px 0; }

.intro {
  background: #1c1b1b;
  background-size: cover;
  background-position: center 25%;
  padding: 8em 0;
  color: #fff; }
  .intro h2 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 30px;
    -webkit-animation-delay: .2s;
    animation-delay: .2s; }
  .intro p {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 30px;
    -webkit-animation-delay: .4s;
    animation-delay: .4s; }

/* Small only */
@media screen and (max-width: 39.9375em) {
  .intro {
    padding: 4em 0; }
    .intro h2 {
      font-size: 24px;
      line-height: 36px; }
    .intro p {
      font-size: 14px;
      line-height: 28px; } }

.hero {
  height: 100vh;
  background-size: cover; }
  .hero h1 {
    font-family: "komu-a", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 9em;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(180deg, #f8d1bc 0%, #fa4d01 50%, #3c1c1c 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent; }
  .hero .LineAnimationButton {
    margin-top: 32px; }
  .hero .hero-image-scroll-down {
    position: absolute;
    bottom: 64px;
    bottom: 4rem;
    left: 50%;
    margin-left: -20px;
    cursor: pointer;
    z-index: 1; }
    .hero .hero-image-scroll-down:hover {
      opacity: 0.5;
      transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out; }

/* Small only */
@media screen and (max-width: 39.9375em) {
  .hero {
    background-position: 25%; }
    .hero h1 {
      font-size: 4em;
      letter-spacing: 2px;
      -webkit-text-stroke: 2px transparent; } }

.LineAnimationButton {
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "purista-web", sans-serif;
  font-weight: 500;
  display: inline-block;
  transition: 0.3s;
  padding: 18px 45px;
  color: #2B2B2B;
  background-color: transparent;
  text-decoration: none; }

.LineAnimationButton:hover,
.LineAnimationButton:focus {
  color: #2B2B2B; }

.LineAnimationButton--full:after {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 36' class='fill--white' fill='white'><path d='M72,50a2.33,2.33,0,0,0-.56-1.38l-16-17a2,2,0,0,0-2.83-.08,2.06,2.06,0,0,0-.08,2.83L65.37,48H30a2,2,0,0,0,0,4H65.37L52.53,65.62a2.09,2.09,0,0,0,.08,2.83,2,2,0,0,0,2.83-.08l16-17A1.78,1.78,0,0,0,72,50Z' transform='translate(-28 -31)'/></svg>");
  height: 25px;
  width: 20px;
  fill: #ffffff;
  speak: none;
  font-style: normal;
  font-weight: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.LineAnimationButton--full:after {
  position: absolute;
  top: 35%;
  left: 0.5px;
  line-height: 0; }

.LineAnimationButton--partial:after {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.LineAnimation-border {
  content: '';
  background-color: #2B2B2B;
  position: absolute; }

.LineAnimation-border_partial--top {
  top: 0;
  right: 0;
  left: 0;
  height: 2px; }

.LineAnimation-border--top {
  top: 0;
  right: 100%;
  left: 0;
  height: 2px;
  transition: right 0.2s 0.6s;
  transition-timing-function: ease-in; }

.LineAnimation-border--right {
  right: 0;
  bottom: 100%;
  top: 0;
  width: 2px;
  transition: bottom 0.2s 0.4s;
  transition-timing-function: ease-in;
  height: 75%; }

.LineAnimation-border--bottom {
  bottom: 0;
  right: 0;
  left: 100%;
  height: 2px;
  transition: left 0.2s 0.2s;
  transition-timing-function: ease-in; }

.LineAnimation-border--bottom_left {
  bottom: 0;
  height: 0;
  width: 2px;
  left: 0;
  transition: height 0.2s 0s;
  transition-timing-function: ease-in; }

.LineAnimation-border--top_left {
  bottom: 50%;
  left: 0;
  width: 2px;
  height: 0;
  transition: height 0.2s 0.8s;
  transition-timing-function: ease-in; }

/* partial button styles */
.LineAnimation-border_partial--top {
  top: 0;
  right: 0;
  left: 0;
  height: 2px; }

.LineAnimation-border_partial--right {
  right: 0;
  bottom: 100%;
  top: 0;
  width: 2px;
  transition: bottom 0.2s 0.2s;
  transition-timing-function: ease-in; }

.LineAnimation-border_partial--bottom {
  bottom: 0;
  right: 0;
  left: 100%;
  height: 2px;
  transition: left 0.2s 0s;
  transition-timing-function: ease-in; }

.LineAnimation-border_partial--top_left {
  top: 0;
  left: 0;
  width: 2px;
  height: 75%; }

.LineAnimation-border_partial--top_left:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-right: 0.13em solid #2b2b2b;
  border-top: 0.13em solid #2b2b2b;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  left: 50%;
  margin-top: -4px;
  margin-left: -5.5px;
  top: 83%; }

@media (min-width: 768px) {
  .LineAnimationButton:hover .LineAnimation-border--top {
    right: 0;
    transition: right 0.2s 0.2s;
    transition-timing-function: ease-in; }
  .LineAnimationButton:hover .LineAnimation-border--right {
    bottom: 0;
    transition: bottom 0.2s 0.4s;
    transition-timing-function: ease-in; }
  .LineAnimationButton:hover .LineAnimation-border--bottom {
    left: 0;
    transition: left 0.2s 0.6s; }
  .LineAnimationButton:hover .LineAnimation-border--bottom_left {
    height: 40%;
    transition: height 0.2s 0.8s;
    transition-timing-function: ease-in; }
  .LineAnimationButton:hover .LineAnimation-border--top_left {
    height: 50%;
    transition: height 0.2s 0s;
    transition-timing-function: ease-in; } }

@media (min-width: 768px) {
  .LineAnimationButton--partial:hover .LineAnimation-border_partial--right {
    bottom: 0;
    transition: bottom 0.2s 0s;
    transition-timing-function: ease-in; }
  .LineAnimationButton--partial:hover .LineAnimation-border_partial--bottom {
    left: 0%;
    transition: left 0.2s 0.2s; } }

/* setting the colors for all states */
.LineAnimationButton--White {
  color: #FFFFFF; }

.LineAnimationButton--White:hover,
.LineAnimationButton--White:focus {
  color: #FFFFFF; }

.LineAnimationButton--White:active {
  color: #FFFFFF; }

.LineAnimationButton--White .LineAnimation-border {
  background-color: #FFFFFF; }

.LineAnimationButton--White:after {
  color: #FFFFFF; }

.LineAnimationButton--White .LineAnimation-border_partial--top_left:after {
  border-color: #FFFFFF; }

.class-list {
  background: #131418; }
  .class-list .class {
    position: relative;
    height: 500px;
    background: #131418;
    overflow: hidden; }
    .class-list .class:first-of-type {
      -webkit-animation-delay: .2s;
      animation-delay: .2s; }
      .class-list .class:first-of-type video {
        margin-left: -100%; }
    .class-list .class:nth-of-type(2) {
      -webkit-animation-delay: .4s;
      animation-delay: .4s; }
      .class-list .class:nth-of-type(2) video {
        margin-left: -50%; }
    .class-list .class:nth-of-type(3) {
      -webkit-animation-delay: .6s;
      animation-delay: .6s; }
      .class-list .class:nth-of-type(3) video {
        margin-left: -50%; }
    .class-list .class:nth-of-type(4) {
      -webkit-animation-delay: .8s;
      animation-delay: .8s; }
      .class-list .class:nth-of-type(4) video {
        margin-left: -100%; }
    .class-list .class .content {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      padding: 40px; }
      .class-list .class .content span {
        color: #fff;
        font-family: "futura-pt", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 72px;
        letter-spacing: 2px;
        position: absolute;
        top: -4%;
        left: -4%;
        opacity: 0.2; }
      .class-list .class .content h3 {
        font-family: "futura-pt", sans-serif;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #f3f3f3;
        margin: 0; }
      .class-list .class .content svg {
        display: block;
        width: 40px;
        height: 40px;
        fill: #fff; }
      .class-list .class .content p {
        color: #fff;
        margin-top: 25px;
        border-top: 2px solid #fff;
        padding-top: 20px; }
      .class-list .class .content .LineAnimationButton {
        margin-top: 10px; }
        .class-list .class .content .LineAnimationButton .LineAnimation-border--right {
          height: inherit; }
    .class-list .class .video {
      height: 100%; }
      .class-list .class .video video {
        height: 100%; }
      .class-list .class .video:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(44, 45, 48, .5);
        z-index: 5; }

video::-webkit-media-controls {
  display: none !important; }

/* Small only */
@media screen and (max-width: 39.9375em) {
  .class-list .class {
    background-size: cover; }
    .class-list .class .video video {
      display: none; } }

.heading {
  position: relative;
  background-size: cover;
  background-position: 50% 10%; }
  .heading h3 {
    width: 100%;
    color: #ffffff;
    font-family: "purista-web", sans-serif;
    font-size: 8em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 1em 0 0.2em; }

/* Small only */
@media screen and (max-width: 39.9375em) {
  .heading h3 {
    font-size: 3em; } }

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #2c2d30;
  background: url("../img/modal-bg.png");
  background-size: cover;
  z-index: 10; }
  .overlay .overlay-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100; }
    .overlay .overlay-close:hover {
      cursor: pointer; }
  .overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s; }
  .overlay-hugeinc.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s; }
    .overlay-hugeinc.open:before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .5);
      position: absolute;
      z-index: -1; }
  .overlay-hugeinc.close nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg); }
  .overlay-hugeinc nav {
    -webkit-perspective: 1200px;
    perspective: 1200px; }
    .overlay-hugeinc nav ul {
      opacity: 0.4;
      -webkit-transform: translateY(-25%) rotateX(35deg);
      transform: translateY(-25%) rotateX(35deg);
      transition: opacity 0.5s, -webkit-transform 0.5s;
      transition: transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }
  .overlay ul li {
    min-height: 34px; } }

.class-modal {
  height: 100vh;
  width: 100vw; }
  .class-modal .description-container {
    z-index: 2; }
    .class-modal .description-container .description {
      font-family: "roboto", sans-serif;
      color: #fff;
      padding: 15%; }
      .class-modal .description-container .description h3 {
        font-size: 7.5em;
        font-weight: 700; }
      .class-modal .description-container .description h4 {
        margin: 0; }
      .class-modal .description-container .description p {
        margin: 0; }
      .class-modal .description-container .description .text-background {
        font-family: "futura-pt", sans-serif;
        font-size: 12em;
        font-weight: 700;
        position: absolute;
        left: 72px;
        bottom: -140px;
        color: rgba(255, 255, 255, .05); }
      .class-modal .description-container .description .gear-heading {
        background: transparent;
        border: none;
        margin-top: 60px; }
        .class-modal .description-container .description .gear-heading .tabs-title a {
          color: white;
          background: rgba(34, 32, 33, .5);
          font-family: 'futura-pt', sans-serif;
          font-size: 18px;
          font-weight: 300;
          text-transform: uppercase;
          padding: 8px 32px;
          padding: 0.5rem 2rem;
          opacity: 0.75;
          transition: all .5s ease-in-out;
          -moz-transition: all .5s ease-in-out;
          -webkit-transition: all .5s ease-in-out;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          border-bottom: 2px solid rgba(255, 255, 255, .6); }
          .class-modal .description-container .description .gear-heading .tabs-title a:hover, .class-modal .description-container .description .gear-heading .tabs-title a:focus, .class-modal .description-container .description .gear-heading .tabs-title a[aria-selected='true'] {
            opacity: 1.0;
            background: white;
            color: #000; }
      .class-modal .description-container .description .tabs-content {
        color: #fff;
        background: transparent;
        border: none; }
        .class-modal .description-container .description .tabs-content .tabs-panel {
          padding: 15px 0 0 0; }
        .class-modal .description-container .description .tabs-content .items-description .item-card img {
          max-width: 80%; }
        .class-modal .description-container .description .tabs-content .items-description .item-card h4 {
          font-family: 'futura-pt', sans-serif;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 15px; }
  .class-modal .media {
    height: 100vh;
    background: rgba(255, 255, 255, .25); }
  .class-modal img.class-img {
    position: absolute;
    bottom: 0;
    right: 33%;
    max-height: 45vw;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: opacity 0.43s 0.6s, -webkit-transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
    transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
    transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93), -webkit-transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93); }
  .class-modal.assault .class-img {
    right: 27%; }

hr.white-one {
  margin-bottom: 30px;
  border: 0 solid;
  border-top: 1px solid #fff;
  margin-top: 0; }

hr.white-two {
  margin-bottom: 30px;
  border: 0 solid;
  border-top: 2px solid #fff;
  margin-top: 0; }

/* Small only */
@media screen and (max-width: 39.9375em) {
  .overlay {
    height: auto; }
    .overlay.open {
      overflow: scroll; }
    .overlay .class-modal {
      height: auto; }
      .overlay .class-modal .description-container .description {
        padding: 14% 6%; }
        .overlay .class-modal .description-container .description h3 {
          font-size: 5em; }
      .overlay .class-modal .media {
        display: none; }
      .overlay .class-modal.assault .class-img {
        position: absolute;
        top: 0;
        left: -60%;
        max-height: 100vh;
        opacity: 0.5; }
    .overlay-hugeinc.open:before {
      height: 130%; } }

.container {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0; }

.text {
  position: relative;
  padding: 5em 3em;
  background: #131418;
  width: 50%; }
  .text section {
    font-size: 1.25em;
    line-height: 1.7; }
    .text section h1 {
      width: 100%;
      color: #ffffff;
      font-family: "purista-web", sans-serif;
      font-size: 120px;
      font-weight: 700;
      text-transform: uppercase; }
    .text section h2 {
      font-size: 2.7em;
      font-weight: 400;
      margin: 0;
      text-align: left; }
    .text section h2.title-down {
      font-size: 80px; }
    .text section h3 {
      color: #fff; }
    .text section::not(:first-child) h2 {
      padding: 2em 0 0 0; }
    .text section p {
      color: #ffffff;
      font-size: 16px;
      margin: 0.5em 0 1.5em; }
      .text section p.text-intro {
        font-size: 1.3em;
        font-style: italic;
        line-height: 1.5;
        margin: 0 0 1.25em;
        text-align: left;
        color: #ffffff; }
  .text figure {
    margin: 1em 0 2em; }
    .text figure img {
      max-width: 100%; }
  .text figcaption {
    font-size: 0.85em;
    font-style: italic;
    padding: 1em 1.5em 0;
    text-align: center;
    color: #cccccc; }
  .text blockquote {
    font-size: 0.75em;
    position: relative;
    text-align: left;
    color: #939997; }
    .text blockquote::before {
      content: '\201C';
      font-size: 2.5em;
      font-style: italic;
      line-height: 1;
      position: absolute;
      top: -0.15em;
      right: 100%;
      margin: 0 0.075em 0 0;
      color: #f0f3f3; }
    .text blockquote span {
      font-size: 0.5em;
      white-space: nowrap;
      color: #cbcece; }
    .text blockquote.letter {
      font-size: 0.75em;
      background: #F1F1D4;
      padding: 40px 80px; }
      .text blockquote.letter p {
        font-family: 'Courier', serif;
        color: #131418; }
      .text blockquote.letter::before {
        content: '';
        border: none; }
      .text blockquote.letter cite {
        font-size: 1em; }

.image-grid {
  display: inline-block;
  margin-bottom: 25px; }
  .image-grid img.half {
    float: left;
    max-width: 50%; }

img.full {
  margin-bottom: 25px; }

.divider {
  margin-top: 4em;
  padding-top: 4em;
  border-top: 1px dashed #cecece; }

.title-up {
  font-size: 0.365em;
  font-weight: bold;
  display: block;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #cecec5; }

.title-down {
  width: 100%;
  color: #ffffff;
  font-family: "purista-web", sans-serif;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase; }

figure {
  position: relative; }
  figure.placeholder:before {
    content: 'Screenshot Placeholder';
    position: absolute;
    width: 100%;
    z-index: 5;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .25);
    font-weight: 700;
    font-family: 'purista-web', futura-pt, sans-serif;
    font-size: 48px; }

.js-gallery {
  padding-top: 50px;
  padding-bottom: 50px; }
  .js-gallery-content {
    font-size: 0;
    text-align: center; }
  .js-gallery img {
    max-width: 100%;
    margin: 10px 0; }

/* Small only */
@media screen and (max-width: 39.9375em) {
  .text {
    padding: 2em;
    width: 100%;
    background: rgba(19, 20, 24, .75); }
    .text section h1 {
      font-size: 64px; }
    .text section p {
      font-size: 14px; }
    .text section h2 {
      font-size: 24px; }
      .text section h2 .title-up {
        font-size: 10px;
        letter-spacing: 5px; }
      .text section h2 .title-down {
        font-size: 36px; }
    .text figure.placeholder:before {
      font-size: 24px; } }

.vehicles {
  background: #000;
  padding: 10em 0;
  position: relative;
  overflow: hidden; }
  .vehicles h2 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 30px;
    -webkit-animation-delay: .2s;
    animation-delay: .2s; }
  .vehicles p {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 30px;
    -webkit-animation-delay: .4s;
    animation-delay: .4s; }

.video-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 240px;
  height: 15rem;
  background-color: transparent;
  background: linear-gradient(to bottom, transparent, #000);
  z-index: 1; }

.cover {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  color: #fff; }

.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .tv .screen {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
    margin: auto;
    opacity: 0;
    transition: opacity .1s;
    min-height: 110%;
    min-width: 110%;
    width: auto;
    height: auto; }
    .tv .screen.active {
      opacity: 1; }

/* Small only */
@media screen and (max-width: 39.9375em) {
  .vehicles {
    background-size: cover;
    background-position: center;
    padding: 5em 0; }
    .vehicles h2 {
      font-size: 24px;
      line-height: 36px; }
    .vehicles p {
      font-size: 14px;
      line-height: 28px; }
    .vehicles .tv {
      display: none; } }

.cta {
  color: #fff;
  background-position: center center;
  padding: 8em 0; }
  .cta h3 {
    font-size: 4em;
    margin-bottom: 40px; }
  .cta h5 {
    font-size: 1em;
    text-transform: uppercase; }

.btn {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 18px 30px;
  transition: 0.3s; }
  .btn:hover, .btn:focus {
    background: #fff;
    color: #131418; }
  .btn.main {
    background: #f17f1a;
    border: 1px solid #f17f1a; }
    .btn.main:hover, .btn.main:focus {
      background: transparent;
      color: #f17f1a; }

/* Small only */
@media screen and (max-width: 39.9375em) {
  .cta h3 {
    font-size: 48px; } }

.pre-footer {
  background-position: center center;
  color: #a3a3a3; }
  .pre-footer h5 {
    color: #fff;
    font-family: 'purista-web', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .pre-footer .pre-footer-nav {
    margin-bottom: 20px; }
    .pre-footer .pre-footer-nav li {
      display: inline-block;
      margin-right: 40px; }
      .pre-footer .pre-footer-nav li a {
        color: #a3a3a3;
        font-family: "Roboto",sans-serif;
        font-size: 16px;
        line-height: 24px; }
        .pre-footer .pre-footer-nav li a:hover, .pre-footer .pre-footer-nav li a:focus {
          color: #f17f1a;
          border-bottom: 2px solid #f17f1a; }
  .pre-footer .social {
    margin-bottom: 20px; }
    .pre-footer .social li {
      display: inline-block;
      margin-left: 24px; }
      .pre-footer .social li a .icon {
        fill: #f17f1a;
        height: 22px;
        width: 22px; }
  .pre-footer .pre-links {
    border-bottom: 1px solid #595959; }
  .pre-footer .logo-col .logo {
    display: inline-block;
    margin: 40px 40px 40px 0; }
    .pre-footer .logo-col .logo:last-of-type {
      margin-right: 0; }
  .pre-footer .legal {
    font-size: 12px;
    margin-bottom: 40px; }
  .pre-footer .credits {
    font-size: 10px;
    margin: 0; }
    .pre-footer .credits a {
      color: #f17f1a; }
    .pre-footer .credits:last-of-type {
      margin-bottom: 40px; }

.ea-footer {
  border-top: 1px solid #222;
  padding-top: 40px;
  padding-bottom: 40px; }
  .ea-footer .ea-links li {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    display: inline-block;
    margin-right: 24px;
    text-transform: uppercase; }
    .ea-footer .ea-links li a {
      color: #585858; }
    .ea-footer .ea-links li:last-of-type {
      margin-right: 0; }

.copyright p {
  color: #585858;
  font-size: 14px; }

/* Small only */
@media screen and (max-width: 39.9375em) {
  .pre-footer .pre-footer-nav li {
    float: left;
    width: 45%;
    margin: 0 0 10px; }
  .pre-footer .social li:first-of-type {
    margin-left: 0; }
  .pre-footer .logo-col .logo {
    margin: 30px 10px;
    max-width: 30%; }
    .pre-footer .logo-col .logo:first-of-type {
      margin-left: 0; }
    .pre-footer .logo-col .logo:last-of-type {
      margin-right: 0; }
  .pre-footer .legal {
    margin-top: 30px; }
  .ea-footer {
    padding-bottom: 20px; }
    .ea-footer img {
      margin-bottom: 25px; }
    .ea-footer .ea-links li {
      font-size: 14px;
      margin-bottom: 10px; } }
