.cta {
	color:#fff;
	background-position:center center;
	padding:8em 0;

	h3 {
		font-size:4em;
		margin-bottom:50px;
	}
	h5 {
		font-size:1em;
		text-transform:uppercase;
	}
	a {
		color:#fff;
		font-size:20px;
		border:1px solid #fff;
		text-transform:uppercase;
		padding:18px 30px;
		transition: 0.3s;

		&:hover {
			padding:24px 36px;
		}
		&.main {
			background:#f17f1a;
			border:1px solid #f17f1a;
		}
	}
}