.cta {
	color:#fff;
	background-position:center center;
	padding:8em 0;

	h3 {
		font-size:4em;
		margin-bottom:40px;
	}
	h5 {
		font-size:1em;
		text-transform:uppercase;
	}
}

.btn {
	display:inline-block;
	color:#fff;
	font-size:20px;
	border:1px solid #fff;
	text-transform:uppercase;
	padding:18px 30px;
	transition: 0.3s;

	&:hover, &:focus {
		background:#fff;
		color:#131418;
	}
	&.main {
		background:#f17f1a;
		border:1px solid #f17f1a;

		&:hover, &:focus {
			background:transparent;
			color:#f17f1a;
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	.cta {
		h3 {
			font-size:48px;
		}
	}
}