.pre-footer {
	background-position:center center;
	color:#a3a3a3;

	h5 {
		color:#fff;
		font-family:'purista-web', sans-serif;
		font-size:16px;
		font-weight:bold;
		text-transform:uppercase;
		margin-bottom:20px;
	}
	.pre-footer-nav {
		margin-bottom:20px;

		li {
			display:inline-block;
			margin-right:40px;

			a {
				color:#a3a3a3;
				font-family: "Roboto",sans-serif;
				font-size: 16px;
				line-height:24px;

				&:hover, &:focus {
					color: #f17f1a;
					border-bottom:2px solid #f17f1a;
				}
			}
		}
	}
	.social {
		margin-bottom:20px;

		li {
			display:inline-block;
			margin-left:24px;

			a {
				.icon {
					fill:#f17f1a;
					height:22px;
					width:22px;
				}
			}
		}
	}
	.pre-links {
		border-bottom:1px solid #595959;
	}
	.logo-col {
		.logo {
			display:inline-block;
			margin:40px 40px 40px 0;

			&:last-of-type {
				margin-right:0;
			}
		}
	}
	.legal {
		font-size:12px;
		margin-bottom:40px;
	}
}
.ea-footer {
	border-top:1px solid #222;
	padding-top:40px;
	padding-bottom:40px;

	.ea-links {
		li {
			font-size:16px;
			font-weight:bold;
			line-height:24px;
			display:inline-block;
			margin-right:24px;
			text-transform:uppercase;

			a {
				color:#585858;

			}
			&:last-of-type {
				margin-right:0;
			}
		}
	}
}
.copyright {
	p {
		color:#585858;
		font-size:14px;
	}
}