.heading {
	position:relative;
	background-size:cover;
	background-position:50% 10%;

	h3 {
		width:100%;
		color:#ffffff;
		font-family: "purista-web", sans-serif;
		font-size:8em;
		font-weight:700;
		text-transform:uppercase;
		text-align:center;
		margin:1em 0 0.2em;
	}
}