.hero {
	height:100vh;
	background-size:cover;

	h1 {
		font-family:"komu-a", sans-serif;
		color:#ffffff;
		text-transform:uppercase;
		font-size:9em;
		letter-spacing:5px;
		background: -webkit-linear-gradient(180deg, #f8d1bc 0%, #fa4d01 50%, #3c1c1c 100%);
		-webkit-background-clip: text;
		-webkit-text-stroke: 4px transparent;
	}
	.LineAnimationButton {
		margin-top:32px;
	}
	.hero-image-scroll-down {
		position: absolute;
		bottom: 4rem;
		left: 50%;
		margin-left: -20px;
		cursor: pointer;
		z-index: 1;

		&:hover {
			opacity:0.5;
			transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			-webkit-transition: all .2s ease-in-out;
		}
	}
}