.hero {
	height:100vh;

	h1 {
		font-family:"purista-web", sans-serif;
		color:#ffffff;
		text-transform:uppercase;
		font-weight:bold;
		font-size:90px;
	}
	.LineAnimationButton {
		margin-top:32px;
	}
}