/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(44,45,48,1);
	background:url('../img/modal-bg.png');
	background-size:cover;
	z-index:10;

	.overlay-close {
		width: 40px;
		height: 40px;
		position: absolute;
		right: 20px;
		top: 20px;
		overflow: hidden;
		border: none;
		background: url(../img/cross.png) no-repeat center center;
		text-indent: 200%;
		color: transparent;
		outline: none;
		z-index: 100;

		&:hover {
			cursor: pointer;
		}
	}
	nav {
		text-align: center;
		position: relative;
		top: 50%;
		height: 60%;
		font-size: 54px;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;

	&.open {
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;

		&:before {
			content: '';
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.5);
			position: absolute;
			z-index: -1;
		}
	}
	&.close {
		nav {
			ul {
				-webkit-transform: translateY(25%) rotateX(-35deg);
				transform: translateY(25%) rotateX(-35deg);
			}
		}
	}
	nav {
		-webkit-perspective: 1200px;
		perspective: 1200px;

		ul {
			opacity: 0.4;
			-webkit-transform: translateY(-25%) rotateX(35deg);
			transform: translateY(-25%) rotateX(35deg);
			-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
			transition: transform 0.5s, opacity 0.5s;
		}
	}
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

.class-modal {
	height:100vh;
	width:100vw;

	.description-container {
		z-index:2;

		.description {
			font-family: "roboto", sans-serif;
			color:#fff;
			padding:15%;

			h3 {
				font-size:7.5em;
				font-weight:700;
			}
			h4 {
				margin:0;
			}
			p {
				margin:0;
			}
			.text-background {
				font-family:"futura-pt", sans-serif;
				font-size:12em;
				font-weight:700;
				position:absolute;
				left:72px;
				bottom:-140px;
				color: rgba(255,255,255,0.05);
			}
			.gear-heading {
				background:transparent;
				border:none;
				margin-top:60px;

				.tabs-title {
					a {
						color:rgba(255,255,255,1);
						background:rgba(34,32,33,0.5);
						font-family:'futura-pt', sans-serif;
						font-size:18px;
						font-weight:300;
						text-transform:uppercase;
						padding:0.5rem 2rem;
						opacity:0.75;
						transition: all .5s ease-in-out;
						-moz-transition: all .5s ease-in-out;
						-webkit-transition: all .5s ease-in-out;
						border-top-left-radius:4px;
						border-top-right-radius:4px;
						border-bottom:2px solid rgba(255,255,255,0.6);

						&:hover, &:focus, &[aria-selected='true'] {
							opacity:1.0;
							background:rgba(255,255,255,1.0);
							color:#000;
						}
					}
				}
			}
			.tabs-content {
				color:#fff;
				background:transparent;
				border:none;

				.tabs-panel {
					padding:15px 0 0 0;
				}
				.items-description {
					.item-card {
						img {
							max-width:80%;
						}
						h4 {
							font-family:'futura-pt', sans-serif;
							font-size:18px;
							font-weight:500;
							margin-bottom:15px;
						}
					}
				}
			}
		}
	}
	.media {
		height:100vh;
		background: rgba(255,255,255,0.25);
	}
	img.class-img {
		position: absolute;
		bottom: 0;
		right: 33%;
		max-height: 45vw;
		opacity: 1;
		transform: translate3d(0,0,0);
		transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
	}
	&.assault {
		.class-img {
			right:27%;
		}
	}
}

hr.white-one {
	margin-bottom: 30px;
	border: 0 solid;
	border-top: 1px solid #fff;
	margin-top: 0;
}
hr.white-two {
	margin-bottom: 30px;
	border: 0 solid;
	border-top: 2px solid #fff;
	margin-top: 0;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	.overlay {
		height:auto;

		&.open {
			overflow:scroll;
		}
		.class-modal {
			height:auto;

			.description-container {
				.description {
					padding:14% 6%;

					h3 {
						font-size:5em;
					}
				}
			}
			.media {
				display:none;
			}
			&.assault {
				.class-img {
					position:absolute;
					top:0;
					left:-60%;
					max-height:100vh;
					opacity:0.5;
				}
			}
		}
		&-hugeinc {
			&.open {
				&:before {
					height:130%;
				}
			}
		}
	}
}