.container {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}

.text {
	position: relative;
	padding: 5em 3em;
	background:#131418;
	width:50%;

	section {
		font-size: 1.25em;
		line-height: 1.7;

		h1 {
			width:100%;
			color:#ffffff;
			font-family: "purista-web", sans-serif;
			font-size:120px;
			font-weight:700;
			text-transform:uppercase;
		}
		h2 {
			font-size:2.7em;
			font-weight:400;
			margin:0;
			text-align:left;
		}
		h2 {
			&.title-down {
				font-size:80px;
			}
		}
		h3 {
			color:#fff;
		}
		&::not(:first-child) h2 {
			padding: 2em 0 0 0;
		}
		p {
			color:#ffffff;
			font-size: 16px;
			margin: 0.5em 0 1.5em;

			&.text-intro {
				font-size: 1.3em;
				font-style: italic;
				line-height: 1.5;
				margin: 0 0 1.25em;
				text-align: left;
				color: #ffffff;
			}
		}
	}
	figure {
		margin: 1em 0 2em;

		img {
			max-width: 100%;
		}
	}
	figcaption {
		font-size: 0.85em;
		font-style: italic;
		padding: 1em 1.5em 0;
		text-align: center;
		color: #cccccc;
	}
	blockquote {
		font-size:0.75em;
		position: relative;
		text-align: left;
		color: #939997;

		&::before {
			content: '\201C';
			font-size: 2.5em;
			font-style: italic;
			line-height: 1;
			position: absolute;
			top: -0.15em;
			right: 100%;
			margin: 0 0.075em 0 0;
			color: #f0f3f3;
		}
		span {
			font-size: 0.5em;
			white-space: nowrap;
			color: #cbcece;
		}
		&.letter {
			font-size:0.75em;
			background:#F1F1D4;
			padding:40px 80px;

			p {
				font-family:'Courier', serif;
				color:#131418;
			}
			&::before {
				content:'';
				border:none;
			}
			cite {
				font-size:1em;
			}
		}
	}
}
.image-grid {
	display:inline-block;
	margin-bottom:25px;

	img.half {
		float:left;
		max-width:50%;
	}
}
img.full {
	margin-bottom:25px;
}
.divider {
	margin-top:4em;
	padding-top:4em;
	border-top:1px dashed #cecece;
}

.title-up {
	font-size: 0.365em;
	font-weight: bold;
	display: block;
	letter-spacing: 7px;
	text-transform: uppercase;
	color: #cecec5;
}
.title-down {
	width:100%;
	color:#ffffff;
	font-family: "purista-web", sans-serif;
	font-size:72px;
	font-weight:700;
	text-transform:uppercase;
}

.js-section {
}

figure {
	position:relative;

	&.placeholder {
		&:before {
			content: 'Screenshot Placeholder';
			position: absolute;
			width: 100%;
			z-index: 5;
			text-align: center;
			top: 50%;
			transform: translateY(-50%);
			color: rgba(255,255,255,0.25);
			font-weight: 700;
			font-family: 'purista-web', futura-pt, sans-serif;
			font-size: 48px;
		}
	}
}

.js-gallery {
	padding-top: 50px;
	padding-bottom: 50px;

	&-content {
		font-size: 0;
		text-align: center;
	}
	 img {
		max-width: 100%;
		margin: 10px 0;
	}
}