.vehicles {
	background:#000;
	padding:10em 0;
	position:relative;
}

.video-gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15rem;
	background-color: transparent;
	background: -webkit-linear-gradient(top,transparent,#000);
	background: -o-linear-gradient(bottom,transparent,#000);
	background: -moz-linear-gradient(bottom,transparent,#000);
	background: linear-gradient(to bottom,transparent,#000);
	z-index:1;
}

.cover {
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	color:#fff;
}

.tv {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	.screen {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;

		margin: auto;

		opacity: 0;
		transition: opacity .1s;

		&.active {
			opacity: 1;
		}
	}
}