.vehicles {
	background:#000;
	padding:10em 0;
	position:relative;
	overflow:hidden;

	h2 {
		font-size:32px;
		line-height:48px;
		margin-bottom:30px;
		animation-delay:.2s;
	}
	p {
		font-size:16px;
		line-height:32px;
		margin-bottom:30px;
		animation-delay:.4s;
	}
}
.video-gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15rem;
	background-color: transparent;
	background: -webkit-linear-gradient(top,transparent,#000);
	background: -o-linear-gradient(bottom,transparent,#000);
	background: -moz-linear-gradient(bottom,transparent,#000);
	background: linear-gradient(to bottom,transparent,#000);
	z-index:1;
}
.cover {
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	color:#fff;
}
.tv {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	.screen {
		position: absolute;
		top: 50%;
		left: 50%;
		// right: 0;
		// bottom: 0;
		transform: translate(-50%,-50%);
		z-index: 0;
		margin: auto;
		opacity: 0;
		transition: opacity .1s;
		min-height:110%;
		min-width:110%;
		width:auto;
		height:auto;

		&.active {
			opacity: 1;
		}
	}
}